@font-face {
    font-family: 'Patua One';
    src: url('fonts/PatuaOne-Regular-webfont.eot');
    src: url('fonts/PatuaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PatuaOne-Regular-webfont.woff') format('woff'),
         url('fonts/PatuaOne-Regular-webfont.ttf') format('truetype'),
         url('fonts/PatuaOne-Regular-webfont.svg#PatuaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
 -moz-box-sizing:    border-box;
 -webkit-box-sizing: border-box;
 box-sizing:        border-box;
}

body {
  text-align: center;
  color: black;
  background: -moz-linear-gradient(top, #edf0e7 0%, #d7e0dd 100%) no-repeat; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf0e7), color-stop(100%,#d7e0dd)) no-repeat; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #edf0e7 0%,#d7e0dd 100%) no-repeat; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #edf0e7 0%,#d7e0dd 100%) no-repeat; /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #edf0e7 0%,#d7e0dd 100%) no-repeat; /* IE10+ */
  background: linear-gradient(top, #edf0e7 0%, #d7e0dd 100%) no-repeat; /* W3C */
  background-color: #d7e0dd;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 60em;
  padding: 0;
}
body > * {
  text-align: left;
}
a {
  color: #2F557C;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
a:hover {
  color: #1067B9;
  text-decoration: none;
}

h2 {
  font-family: "Patua One";
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  color: #161616;
  padding: 0.4em 0;
  margin: 0;
}

/***************************************************************************
 *        HEADER SECTION
 ***************************************************************************/
header {
  margin: 3.1em auto 0;
  text-align: center;
  font-style: italic;
  position: relative;
}

header h1 {
  margin: 0;
  padding: 0 0;
}

header h1 a {
  display: block;
  width: 355px;
  height: 161px;
  background: url(header_logo.png);
  margin: auto;
  text-indent: 1000px;
  overflow: hidden;
  outline: none;
}

#slogan {
  text-indent: 1000px;
  overflow: hidden;
  height: 0;
  margin: 0;
}

#siteflattr {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

/***************************************************************************
 *        NAVIGATION SECTION
 ***************************************************************************/
#top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  border-bottom: 1px solid #E0E0E0;
  background: #fdfdfd;
  background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2));
  background: -webkit-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
  background: -o-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
  background: -ms-linear-gradient(top, #fdfdfd 0%,#f2f2f2 100%);
  background: linear-gradient(to bottom, #fdfdfd 0%,#f2f2f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 );
  color: #666;
  font-size: .8em;
}

#top-nav .content-wrapper {
  height: 100%;
  max-width: 60em;
  margin: auto;
}

/* #top-nav */ #search {
  margin: 0;
  margin: 4px 0;
  float: left;
}

/* #top-nav */ #user-nav {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 3px 0;
}

#user-nav em {
  font-weight: bold;
  font-style: normal;
}

#user-nav li {
  display: inline-block;
  padding: .4em;
}

#user-nav a {
  color: #56805E;
}

#user-nav a:hover {
  color: #0AB900;
}

#top-nav li a {
  font-weight: normal;
}

nav a { font-style: normal; }

#main-nav {
  text-align: center;
  display: table;
  list-style-type: none;
  margin: 1.8em auto;
  padding: 0;
  background-color: #282828;
  border-radius: .2em;
}
#main-nav li {
  display: inline-block;
  padding: .3em 2.3em .4em;
}
#main-nav li a {
  font-size: 90%;
  color: #E8E8E8;
}

#main-nav li a:hover {
  color: #BEBEBE;
}

.parent-menu {
  position: relative;
}
#main-nav .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  padding: 9px 40px 40px;
  background: url(submenuglue.svg) no-repeat center top;
}
#main-nav .sub-menu .clickzone {
  padding: 5px 9px;
  background: #282828;
  border-radius: .2em;
}

#main-nav .sub-menu ul {
  display: table-row;
  font-size: 80%;
  color: #E8E8E8;
  background: transparent;
}

#main-nav .parent-menu:hover .sub-menu {
  display: block;
}

#main-nav .sub-menu li {
  display: table-cell;
  padding: 0;
  margin: 0;
}
#main-nav .sub-menu li a {
  padding: .3em .5em .3em;
  text-decoration: underline;
}

#navbar { /* old user menu */
  display: block;
  margin: 0;
  padding: 0;
  font-size: 80%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 2em;
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
#navbar p {
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.1em 0 0.2em 0.5em;
}

#podcaster-help-nav {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
#podcaster-help-nav li {
  display: inline-block;
  margin: 0 1em;
}

/***************************************************************************
 *        FRONT PAGE SECTION
 ***************************************************************************/
#teaser {
  font-size: 1.8em;
  margin: -1.5em auto 0;
  padding: 3em 0;
  color: #3C2F53;
  font-weight: 200;
  font-style: italic;
  max-width: 20em;
}

.col1.about ul, .col2.about ul {
  color: #333;
  font-size: 1.2em;
  line-height: 1.5em;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-weight: 300;
}

.col1.about li em, .col2.about li em {
  font-weight: 400;
  color: #51626C;
}

.col1.about p { text-align: right; }
.col2.about p { text-align: left ; }
.col1.about p, .col2.about p {
  margin: -.5em auto 0;
}

.col1.about h2, .col1.about ul {
  text-align: right;
}

.col2.about h2, .col2.about ul {
  text-align: left;
}

.col1.about ul li, .col2.about ul li {
  margin: 1em auto;
}

section.about a {
  font-size: 1em;
  line-height: 2em;
  padding: .2em 1em;
  background: #F4F4F4;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

section.downloads ul { /* pictures of already avaible podcasts */
  list-style-type: none;
  margin: 1em auto 3em;
  padding: 0;
  clear: both;
  display: inline-block;
}

section.downloads li {
  float: left;
  margin: .5em;
}

section.downloads li:hover {
  -webkit-filter: grayscale(1);
}

section.downloads li:nth-child(10n+1) {
  clear: left;
}

section.downloads a {
  display: block;
  height: 64px;
  width: 64px;
  line-height: 64px;
}

section.downloads li a img {
  vertical-align: middle;
}

/***************************************************************************
 *        CONTENT STRUCTURES
 ***************************************************************************/
.content {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.col, .col1, .col2 {
  margin: 0 0 2em;
  padding: 0 0.5em;
  text-align: left;
}
.col {
  max-width: 50em;
  display: inline-block;
}
.col1 {
  clear: both;
  float: left;
}
.col1, .col2 {
  max-width: 48%;
}
.col2 {
  margin-left: 51%;
}
section {
  width: 100%;
}

/***************************************************************************
 *        ITEM (one episode /new & /top)
 ***************************************************************************/
header .meta {
  display: inline-block;
}
header .meta, header .meta div {
  text-align: left;
}
.meta .title {
  margin-left: 76px;
  margin-bottom: 3.5em;
}
.title h2 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 3em;
  text-align: left;
}

.title p.publisher {
  margin: .2em auto;
}

h2 .feedicon {
  font-size: 0;
  color: rgba(255, 255, 255, 0);
  width: 0px;
  height: 0px;
  vertical-align: top;
  padding-top: 16px;
  padding-left: 16px;
  background: url('rss.png') no-repeat center top;
}

p.feed {
  font-size: 80%;
  color: #666;
  display: block;
  margin: .2em auto 1.5em;
}
.feed div, .directory .meta {
  min-height: 84px;
}
.feed div div {
  min-height: 0;
}
.published {
  margin: 0 0.4em 0.1em 0.5em;
  padding: 0 2px;
  font-size: .6em;
  line-height: 1em;
  color: #888;
  white-space: pre;
}
.published .today {
  font-weight: 700;
}
.flattr {
  font-size: 50%;
}
.flattr a {
  color: #595;
  margin: 0 0.4em 0.1em 0.5em;
  padding: 0 2px;
}

img.logo {
  float: left;
  vertical-align: top;
  max-width: 64px;
  max-height: 64px;
  object-fit: contain;
  padding: 0;
  margin: 2px 10px 4px 0;
}
.item img.logo {
  max-width: 48px;
  max-height: 48px;
}
.item .title {
  margin-left: 50px;
}
.moreby {
  font-size: 70%;
  font-weight: bold;
  color: #aaa;
  text-align: right;
  margin: 1em 0 0;
}
.right {
  float: right;
  clear: right;
  text-align: right;
  margin-left: 0.5em;
}
.left {
  float: left;
  clear: left;
  text-align: left;
  margin-right: 0.5em;
}

article {
  background-color: white;
  border-top: 1px solid #eee;
  margin: 1em 0;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}
.col2 article {
  margin-right: 0;
}
article:first-child {
  border-top: none;
}
.feedslist {
  font-size: 60%;
  color: #555;
  text-align: center;
  margin: 0 0.5em;
}
.feedslist dt, .feedslist dd {
  display: inline-block;
  margin: 0 0.3em;
}
.feedslist dt {
  margin-left: 3em;
}
.feedslist dt:first-child {
  margin-left: 0.3em;
}

article.item {
  min-height: 48px;
}
article:target {
  border: 3px solid #fff79f;
}
h3 {
  font-size: 1.3em;
  margin: 0;
  font-weight: bold;
  line-height: 1em;
}

h3 a {
  color: #121212;
  font-weight: normal;
}

h3 a:hover { color: #464646; }

.homepage {
  margin: 0;
  padding-left: 0.2em;
  font-size: 70%;
  margin-top: .2em;
  margin-bottom: 1.5em;
}
.homepage a {
  font-weight: normal;
}

.download {
  clear: right;
  list-style-type: none;
  padding: 0;
  margin: 0 0 0.1em 58px;
  text-align: left;
  /* meta & flattr floats above */
  display: block;
  min-height: 2em;
}

.download li {
  display: inline-block;
  vertical-align: middle;
}

.torrent {
  border: 1px solid #505050;
  padding-left: 1.5em;
  width: 12em;
  position: relative;
}

.torrent a {
  display: block;
  background: #A5A5A5;
  margin: 1px;
  padding: 2px 4px;
  font-size: 0.8em;
  color: #EDEDED;
}

.torrent .type:after { content: " Torrent"; }

.torrent .name-info {
  float: left;
  margin-right: .2em;
  position: relative;
}

/* see also filter.js for a[title] supression */
.torrent .name-info:hover .file-name { display: block; }

.torrent .name-info .file-name {
  display: none;
  position: absolute;
  top: 1em;
  left: -1em;
  background: #2C2C2C;
  padding: .2em 1em .3em;
  color: #EBEBEB;
  font-style: italic;
  border: 1px #545454 solid;
  white-space: nowrap;
  z-index: 100;
  margin-top: .6em;
  -mox-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  box-shadow: 3px 3px 4px #555;
}

.torrent .size {
  position: absolute;
  right: .5em;
  color: #DFDFDF;
  font-style: italic;
}
.torrent .size:before { content: "("; margin-right: 3px; font-style: normal; }
.torrent .size:after {  content: ")"; margin-left:  2px; font-style: normal; }

.torrent i.icon-download {
  float: left;
  margin-left: -1.35em;
  margin-top: .1em;
  color: #797983;
}

.stats {
  color: #999;
  margin-left: 1em;
}
.stats dl {
  display: inline-block;
  text-align: center;
  margin: 0;
  margin-right: 2px;
  padding: 0.2em 0.3em;
  border-left: 1px dotted #ddd;
}
.stats dl:first-child {
  border-left: none;
}
.stats dl dt {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 120%;
  color: #bbb;
  font-weight: 900;
  line-height: 0.9em;
}
.stats dl dt .unit {
  font-size: 70%;
  line-height: 0.9em;
}
.stats dl dd { 
  display: block;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-size: 60%;
  line-height: 0.8em;
  letter-spacing: -0.5px;
}
.stats .toggleable {
  cursor: pointer;
}
.stats .toggleable:hover {
  color: #333;
}
.stats .toggleable:hover dt {
  color: #555;
}
.stats .toggled {
  color: #002B75;
}
.stats .toggled dt {
  color: #1C499C;
}
.graph {
  text-align: center;
  color: #666;
  margin: 0.5em 0;
}
.graph h4 {
  margin: 0;
}
.graph .timeselect {
  float: right;
  margin: 0 2em 0 0;
}
.graph .floater {
  position: absolute;
  padding: 0 0 0 2px;
  font-size: 70%;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-shadow: -1px 0 1px white, 0 -1px 1px white, 1px 0 1px white, 0 1px 1px white;
}

.item {
  border: 1px solid #C4C4C4;
  opacity: 1;
  padding: 1em 1.2em;
  transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}
.item.filteredout {
  opacity: 0.1;
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
}

.pagination {
  margin: 0;
  padding: 1em 0;
}
.pagination p {
  margin: 0;
  padding: 0;
}

.pagination p.previous { margin-left:  2em; }
.pagination p.next     { margin-right: 2em; }
.pagination p.previous i { margin-right: .2em; }
.pagination p.next i     { margin-left:  .2em; }

.pagination a {
  font-size: 1em;
  line-height: 2em;
  padding: .2em 1em;
  background: #F4F4F4;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

.pagination .previous {
  float: left;
  text-align: left;
}
.pagination .next {
  text-align: right;
}

ul.feeds { /* see /directory */
  list-style-type: none;
  margin: 0 0 0 68px;
  padding: 0;
}
ul.feeds li {
  margin: 0.7em 0;
  padding: 0.05em 0.1em 0.05em 0.3em;
  text-align: left;
}

/***************************************************************************
 *        DIRECTORY SECTION
 ***************************************************************************/
.directory {
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  margin-top: 2em;
}

.directory article {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  border: 1px solid #C4C4C4;
  line-height: 1.4em;
}

.directory .meta { margin-top: 0; }
.directory .meta .title { margin-bottom: 1em; }
.directory h3 { text-align: left; }

/***************************************************************************
 *        FILTER (BUTTON/DIALOG) SECTION
 ***************************************************************************/
.filter {
  position: relative;
  text-align: right;
  margin: -1.5em 0 0 auto;
}
/***
   * This button has been copied from
   *   https://github.com/samcollins/css-social-buttons/blob/master/css/zocial.css
   * by Sam Collins (@smcllns) of www.eventasaur.us
   ***/
.filterbutton {
  border: 1px solid #777;
  border-color: rgba(0,0,0,0.2);
  border-bottom-color: #333;
  border-bottom-color: rgba(0,0,0,0.4);
  color: #fff;
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
  cursor: pointer;
  display: inline-block;
  font: bold 80%/1.85 "Lucida Grande", Tahoma, sans-serif;
  padding: 0 0 0 0.95em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
  white-space: nowrap;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  position: relative;

  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;


  border: 1px solid #aaa;
  border-color: rgba(0,0,0,0.3);
  border-bottom-color: #777;
  border-bottom-color: rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
  box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
background-color: #efefeb; color: #312c2a;
}
.filterbutton:hover {
  color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), color-stop(49%, rgba(255,255,255,0.2)), color-stop(51%, rgba(0,0,0,0.05)), to(rgba(0,0,0,0.15)));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: -o-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
  background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.15));
}
.filterbutton:active {
  outline: none; /* outline is visible on :focus */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(30%, rgba(255,255,255,0)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
  background-image: -moz-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: -webkit-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: -o-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: -ms-linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
  background-image: linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,0) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.1));
}
.filterbutton i.icon-caret-down, .filterbutton i.icon-caret-up {
  display: inline-block;
  border-left: 1px solid rgba(0,0,0,0.1);

  margin: 0 0 0 0.5em;
  padding: 0 0.5em;
  -moz-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  -webkit-box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);
  box-shadow: 0.075em 0 0 rgba(255,255,255,0.25);

  -webkit-font-smoothing: antialiased;
}

.filterdialog {
  position: absolute;
  top: 1.65em;
  right: 0;
  box-shadow: 2px 2px 16px #888;
  border: 1px solid #093;
  color: #333;
  background-color: white;
  width: 20em;
  text-align: left;
  z-index: 200;
}
.filterdialog .type, .filterdialog .lang {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin: 0;
  padding: 0.5em 1em;
}
.filterdialog h2 {
  font-family: sans-serif;
  font-size: 120%;
  color: #555;
  text-align: left;
  padding: 0;
}
.filterdialog p {
  margin: 0;
}
.filterdialog ul {
  padding: 0;
  margin: 0.5em 0;
  list-style-type: none;
}
.filterdialog .all {
  font-size: 90%;
  margin-left: 0.5em;
}
.filterdialog .counter {
  font-size: 70%;
  color: #aaa;
}

/***************************************************************************
 *        FOOTER SECTION
 ***************************************************************************/
footer {
  position: absolute;
  left: 0;
  right: 0;
  clear: both;
  margin: 0;
  margin-top: 1em;
  padding: 1em 0 2em;
  text-align: center;
  background: #EDEDED;
  border-top: 1px solid #ccc;
}
footer div {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #777;
  font-size: 70%;
  margin: 0 4em;
}
footer p {
  margin: .2em 0;
  padding: 0;
}
footer a {
  color: #777;
  font-weight: bold;
}

footer dd {
  margin-left: .7em;
}

footer dt:after { content: ':'; }

footer dd ~ dt {
  margin-top: .5em;
}

/***************************************************************************
 *        LOGIN/USER SECTION
 ***************************************************************************/
.r {
  text-align: right;
}
.login, .signup {
  margin: 0.3em auto;
  max-width: 20em;
}
.signup {
  max-width: 35em;
}
.signup #usernamehint {
  margin-left: 1em;
}
.login label, .signup label {
  display: inline-block;
  padding-right: 1em;
  width: 8em;
}
.tos {
  font-size: 60%;
  color: #666;
}
.tos label {
  padding-left: 0.5em;
  vertical-align: bottom;
  width: 80%;
  max-width: 30em;
}
.login #progress {
  color: #aaa;
  font-weight: bold;
  font-size: 70%;
}
input[type!=submit] {
  color: #030;
  background-color: #efe;
  font-weight: bold;
  border: 1px solid #3a0;
  border-radius: 2px;
  padding: 2px 6px;
}
input[type!=submit]:hover, input[type!=submit]:focus {
  color: black;
  background-color: #ffe;
  border: 1px solid #3f0;
}

noscript {
  font-size: 200%;
  text-align: center;
  color: red;
  text-decoration: blink;
}

.button, input[type=submit] {
  display: inline-block;
  margin: 0.1em 0.2em;
  padding: 0.08em 0.4em 0.1em;
  vertical-align: middle;
  font-size: 90%;
  text-align: center;
  line-height: 1.3em;
  min-width: 4em;
  color: white;
  background-color: #666;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.55);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.34);
  border-bottom-color: rgba(0, 0, 0, 0.55);
  box-shadow: 0 1px 0 rgba(255,255,255,0.55) inset,0 1.5px rgba(0,0,0,0.155),0 -0.65em rgba(0,0,0,0.15) inset;
  cursor: default;
}
.edit.button {
  float: right;
  background-color: #3583AC;
}
.add.button, .save.button, input[type=submit] {
  background-color: #83AC35;
}
.rm.button {
  float: right;
  background-color: #E03030;
}
.purge.button {
  clear: right;
  float: right;
  margin-top: 1.5em;
  min-width: 3em;
  background-color: #E03030;
  font-size: 70%;
}

.lightboxbackground {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 7, 0, 0.85);
  z-index:1001;
}

/***************************************************************************
 *        GENERAL UI ELEMENTS
 ***************************************************************************/
.lightbox {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 0.4em solid #073;
  border-radius: 2em;
  background-color: white;
  z-index:1002;
  overflow: auto;
  text-align: center;
}

.lightbox form {
  text-align: left;
  margin: 1em auto;
  max-width: 80%;
}
.useredit label {
  width: 8em;
  display: block;
}

.hint {
  font-size: 80%;
  font-style: italic;
  color: #777;
  margin: 0 0 2em;
  line-height: 1em;
}

.error {
  text-align: left;
  margin: 1em auto;
  padding: 0.1em 1em 0.1em 56px;
  min-height: 41px;
  background: url('/static/error.svg') top left no-repeat #ffbfbf;
}
.error h3 {
  color: #1C1C1C;
  margin: 0 0 0.5em;
}
.enclosureErrors dt {
  font-size: 90%;
  font-weight: bold;
  margin-top: 0.5em;
}

pre {
  font-family: monospace;
  font-size: 85%;
  color: #333;
  margin: 0.5em 0;
  padding: 0.5em 4em;
  background-color: #ccc;
  overflow: auto;
}